<h1 class="animated fadeIn fast">Comic App</h1>
<hr/>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis ut dui a fringilla. Nam quis efficitur neque. Pellentesque at volutpat leo. Nullam in posuere mi, vel facilisis dolor. Proin sed massa lacus. Cras id ligula eu arcu scelerisque ullamcorper at in eros. Maecenas vehicula ut lorem quis ullamcorper. Ut vestibulum metus ut suscipit rutrum. Suspendisse lacinia fermentum felis, a accumsan justo posuere eu. Donec aliquet placerat sapien, et tempus dui sollicitudin eu. Sed tempor neque sapien, sit amet volutpat dui pharetra rhoncus. Donec accumsan a sapien a ullamcorper. Vestibulum pellentesque vitae odio eget faucibus.
</p>
